In [10]:
c=9
b=input()
d=[]
#first we have taken the input in the form of a list
for i in b:
    d.append(i)

UDDDUDUU

In [15]:
def countingValleys(n, s):
    # first we will assign value for U and D
    d=[]
    for i in s:
        d.append(i)
    count=0
    a=0
    for i in d:
        
        
        if i =='U':
            count+=1
            if count==0:
                # something happened here
                # we completed a valley here
                a+=1
                
        elif i =='D':
            count-=1
            '''if count==0:
                # we completed a mountain
                a+=1'''
        
        
    return a

In [16]:
countingValleys(3,d)

1

In [72]:
sockMerchant(c,b)

a
a
a

3

In [31]:
import numpy as np
import pandas as pd

d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [33]:
pd.DataFrame(d, index=['b','c','d','e'])

   one  two
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
e  NaN  NaN