UDDDUDUU

In [2]:
def jumpigOnClouds(c):
    # first we will assign value for U and D
   
    # we will need to do two traversal
    
    # traversal 1  one step
    s=0
    for i in range(len(c)):
        
        if c[i]==0:
            s+=1
            
    
    s=s-1
    
    # traversal 2 two step
    t=0
    i=len(c)
    for i in range(0,len(c),2):
    #while i!=0:
        print(i)
        if c[i]==0:
            t+=1
        elif c[i]==1:
            t+=1
            #i=i-1 # this is not updating the value of i#
        if i==len(c)-2 and c[-1]==0:
            #print('done')
            t+=1
        #e=[0,0,1,0,0,1,0]
       # e=[0,0,1,0,0,1,0]
    t=t-1
    if t<s:
        #print(s)
        return t
    else:
        
        return s

In [45]:
# as the value of i is not getting updated there for now we will use the while loop
def jumpigOnClouds(c):
    # first we will assign value for U and D
   
    # we will need to do two traversal
    
    # traversal 1  one step
    s=0
    for i in range(len(c)):
        
        if c[i]==0:
            s+=1
            
    
    s=s-1
    
    # traversal 2 two step
    t=0
    i=0
    #for i in range(0,len(c),2):
    while i<=len(c)-1:
    
            print(i)
       # if i<=len(c):
            if c[i]==0:
                t+=1
            if c[i]==1:
                t+=1
                i=i-1 # this is not updating the value of i#
            if i==len(c)-2 and c[-1]==0:
                print('done')
                t+=1
        #e=[0,0,1,0,0,1,0]
       # e=[0,0,1,0,0,1,0]
            i=i+2
    t=t-1
    if t<s:
        #print(s)
        return t
    else:
        
        return s

In [47]:
#e=[0,0,1,0,0,0,0,1,0,0]
#e=[0,0,0,1,0,0]
e=[0,0,1,0,0,1,0]
jumpigOnClouds(e)

0
2
3
5
6

4

In [16]:
import numpy as np
import pandas as pd

d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [33]:
pd.DataFrame(d, index=['b','c','d','e'])

   one  two
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
e  NaN  NaN